:root{
    --header-color: #24292F;
    --main-color: #AFB8C1;
    --example-color: #57606A;
    --hyperlink-color: #0969DA;
    --black-color: #F6F8FA;
}


/* main */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
}

.brand-logo-border{
    cursor: pointer;
    margin-left: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    color: white;
    width: 100%;
}


nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}


/* main */

.main-js-container{
    margin: 40px 101px;
    display: flex;
    justify-content: space-between;
}

.js-container-header{
    border-bottom: 1px solid hsla(210,18%,87%,1);
    margin-bottom: 16px;
}

.js-container-header h1{
    font-size: 32px;
    font-weight: 600;

    margin: 0;
}

.js-container-header p {
    font-size: 14px;

    margin-top: 0;
    margin-bottom: 16px;
}

.js-container-header p a {
    color: #0969DA;
}

.js-container-id {
    -apple-system,BlinkMacSystemFont,
    "Segoe UI",Helvetica,Arial,sans-serif,
    "Apple Color Emoji","Segoe UI Emoji";
}


.js-conainer-id-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}


.js-conainer-id-top span {
    padding-top: 15px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 4px;
    font-size: 20px;
    float: left;
}

.js-conainer-id-top input {
    border-width: 1px;
    border-radius: 6px;
    background-color: #F6F8FA;
}

.js-conainer-id-bottom label{
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.js-conainer-id-bottom p {
    display: block;
    margin-top: 5px;
    margin-bottom: 14px;
}

.js-conainer-id-bottom span {
    font-size: 12px;
    margin: 3px;
}

.description input {
    margin: 10px;
    width: 600px;
    border-width: 1px;
    border-radius: 6px;
    background-color: #F6F8FA;
}

.checkbox-label {
    border-top: 1px solid hsla(210,18%,87%,1);;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}


.checkbox-label-public {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;

}

.checkbox-label-private {
    display: flex;
    align-content: center;
    margin-top: 40px;
    font-weight: 600;
    font-size: 14px;

}

.checkbox-label-public img {
    align-items: center;
}

.checkbox-label .p1 {
    position: absolute;
    left: 53px;
    margin-top: 0;
    margin-bottom: 10px;
}

.checkbox-label .p2 {
    position: absolute;
    top: 90px;
    left: 53px;
    margin-bottom: 20px;
}

.public-label {
    margin-left: 10px;
}


.checkbox-label-private input {
    margin: 3px;
    align-items: center;
}

.checkbox-label-private img {
    align-items: center;
}

.private-label {
    margin-left: 10px;
}

.js-respositroy-option {
    border-top: 1px solid hsla(210,18%,87%,1);
    margin-top: 30px;
    align-items: center;
}

.js-respositroy-option h3 {
    margin-bottom: 0;
}

.js-respositroy-option p {
    margin-top: 2px;
}

.option1 label{
    font-size: 14px;
    font-weight: 500;
    margin-right: 3px;
}

.option2 {
    font-size: 14px;
    margin-right: 3px;  
}

.option2 h4 {
    margin: 0px;
}

.option2 p {
    margin-bottom: 8px;
}

.option2 button {
    background-color: #F6F8FA;
}

.option3 h4 {
    margin-bottom: 0;
}

.option3 p {
    margin-bottom: 5px
}

.warning {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;

    border-top: 1px solid hsla(210,18%,87%,1);
    border-top: 1px solid hsla(210,18%,87%,1);
}

.crerate-respository {
    background-color: #94d3a2;
}


footer {
    display: flex;
    align-items: center;
}