:root {
    --main-color: rgb(221, 221, 221);
    --article-border-color: rgb(231, 231, 231);
    --sub-font-color: rgb(201,201,201);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 70px 0px 80px;
}

/* header */
header { 
    display: flex;
    align-items: center;
    padding: 15px 32px;
    border-bottom: 1px solid var(--main-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    width: 100%;
}

nav img {
    margin: 0;
}

/* main */

.article-container {
    display: flex;
    justify-content: space-between;
    width: 1280px;
}

.article-container article {
    border: 1px solid var(--main-color);
}

.article-right{
    background-color: rgb(253,253,253);
}

.article-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--article-border-color);

    width: 630px;
}

.article-header-left{
    display: flex;
    justify-content:flex-end;
    align-items: center;

    width: 120px;
    height: 59px;
}

.article-header-left span{
    font-size: 18px;
}

.article-header-right{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
     height: 60px;   
}

.article-body {
    position: relative;
    border-bottom: 1px solid var(--article-border-color);
    padding: 28px 20px 63px;
    width: 630px;
}

.article-body-textarea {
    width: 630px;
    height: 219px;
}

.article-body-textarea textarea{
    
    border:none;
    outline: none;
    resize: none;

    width: 590px;
    height: 100%;

    font-size: 40px;
}

pre{
    height: 219px;
    
}
.article-body-count{
    position: absolute;
    right: 20px;
    border: 25px;

    display: flex;
    justify-content: flex-end;
}

.article-body-count span {
    font-size: 18px;
    font-weight: 500;
    color: var(--main-color);
}

.article-footer{
    display: flex;
    justify-content: space-between;
    
    width: 630px;
}

.article-footer-left{
    display: flex;
}


.af-left-item{
    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid var(--article-border-color);

    width: 90px;
    height:72px;

    overflow: hidden;
}

.article-footer button {
    
    border:1px solid green;
    width: 144px;
    height: 74px;

    font-size: 20px;
    font-weight: 500;
    color: white;

    background-color: #21dc6d;;
}

.section-container{
    width: 1280px;
    
}

.section-top{
    display: flex;
    align-items: center;
    
    border-bottom: 1px solid var(--article-border-color);

    width: 100%;
    height: 61px;
}

.section-bottom{
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.sb-url{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 811px;
}
.lable-url label{
    font-size: 16px;

}

.input-url input{
    border: none;
    padding: 6px 5px;

    width: 427px;
    height: 32px;
}


.input-url{
    display: flex;

    border-bottom: 1px solid var(--main-color);
    padding: 1px;
    max-width: 658px;
}

.input-select-convert{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 230px;
    height: 32px;
}

.button-url button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-color);
    border-radius: 50%;

    width: 34px;
    height: 34px;

    overflow: hidden;

    background-color: white;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fbfbfb;
}

.footer1{
    display: flex;
    align-items: center;

    border-bottom: 1px solid var(--main-color);

    height: 65px;
}

.footer2{
    display: flex;
    align-items: center;

    padding: 32px 36px;
}