* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#container {
    margin: 0px auto;
    width: 1100px;
    background-color: white;
}

aside {
    position: absolute;
    right: 10px;
    top: 18%;
    width: 150px;
    height: 600px;
    background-color: #40d840;
}

header